<h1>Enquête Minor Web Design & Development</h1>
<form action="/" method="post">
    <h2>Student</h2>
    
    <label for="naam">Naam</label><br>
    <input type="text" id="naam" required><br><br>
    
    <label for="studentnummer">Studentnummer</label><br>
    <input type="number" id="studentnummer" required><br>

    <h2>Vak 1</h2>

    <label for="naam-vak-1">Naam</label><br>
    <input type="text" id="naam-vak-1" value="Web App From Scratch" required><br><br>

    <label for="docenten-vak-1">Docenten</label><br>
    <input type="text" id="docenten-vak-1" value="Joost Faber en Koop Reynders" required><br><br>
    
    <label for="week-vak-1">Week</label><br>
    <input type="radio" id="week-1-vak-1" name="week-vak-1" required checked> <label for="week-1-vak-1">1-5</label><br>
    <input type="radio" id="week-6-vak-1" name="week-vak-1" required> <label for="week-6-vak-1">6</label><br>
    <input type="radio" id="week-7-9-vak-1" name="week-vak-1" required> <label for="week-7-9-vak-1">7-9</label><br>
    <input type="radio" id="week-10-vak-1" name="week-vak-1" required> <label for="week-10-vak-1">10</label><br>
    <input type="radio" id="week-11-13-vak-1" name="week-vak-1" required> <label for="week-11-13-vak-1">11-13</label><br>
    <input type="radio" id="week-15-19-vak-1" name="week-vak-1" required> <label for="week-15-19-vak-1">15-19</label><br><br>
    
    <label for="lesstof-vak-2">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-1-vak-2">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-2-vak-2">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-3-vak-2">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-4-vak-2">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-5-vak-2">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-6-vak-2">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-7-vak-2">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-8-vak-2">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-9-vak-2">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-10-vak-2">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-2">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-1-vak-2">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-2-vak-2">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-3-vak-2">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-4-vak-2">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-5-vak-2">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-6-vak-2">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-7-vak-2">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-8-vak-2">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-9-vak-2">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-10-vak-2">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-2">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-1-vak-2">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-2-vak-2">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-3-vak-2">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-4-vak-2">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-5-vak-2">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-6-vak-2">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-7-vak-2">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-8-vak-2">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-9-vak-2">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-10-vak-2">10</label><br><br>
        </div>
    </div>

    <h2>Vak 2</h2>

    <label for="naam-vak-2">Naam</label><br>
    <input type="text" id="naam-vak-2" value="CSS to the Rescue" required><br><br>

    <label for="docenten-vak-2">Docenten</label><br>
    <input type="text" id="docenten-vak-2" value="Sanne Hooft en Vasilis van Gemert" required><br><br>

    <label for="week-vak-2">Week</label><br>
    <input type="radio" id="week-1-vak-2" name="week-vak-2" required checked> <label for="week-1-vak-2">1-5</label><br>
    <input type="radio" id="week-6-vak-2" name="week-vak-2" required> <label for="week-6-vak-2">6</label><br>
    <input type="radio" id="week-7-9-vak-2" name="week-vak-2" required> <label for="week-7-9-vak-2">7-9</label><br>
    <input type="radio" id="week-10-vak-2" name="week-vak-2" required> <label for="week-10-vak-2">10</label><br>
    <input type="radio" id="week-11-13-vak-2" name="week-vak-2" required> <label for="week-11-13-vak-2">11-13</label><br>
    <input type="radio" id="week-15-19-vak-2" name="week-vak-2" required> <label for="week-15-19-vak-2">15-19</label><br><br>
    
    <label for="lesstof-vak-2">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-1-vak-2">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-2-vak-2">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-3-vak-2">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-4-vak-2">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-5-vak-2">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-6-vak-2">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-7-vak-2">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-8-vak-2">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-9-vak-2">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-2" name="lesstof-vak-2" required>
            <label for="lesstof-10-vak-2">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-2">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-1-vak-2">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-2-vak-2">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-3-vak-2">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-4-vak-2">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-5-vak-2">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-6-vak-2">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-7-vak-2">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-8-vak-2">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-9-vak-2">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-2" name="uitleg-vak-2" required>
            <label for="uitleg-10-vak-2">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-2">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-1-vak-2">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-2-vak-2">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-3-vak-2">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-4-vak-2">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-5-vak-2">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-6-vak-2">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-7-vak-2">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-8-vak-2">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-9-vak-2">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-2" name="eigen-inzicht-vak-2" required>
            <label for="eigen-inzicht-10-vak-2">10</label><br><br>
        </div>
    </div>

    <h2>Vak 3</h2>

    <label for="naam-vak-3">Naam</label><br>
    <input type="text" id="naam-vak-3" value="Projectweek 1" required><br><br>

    <label for="docenten-vak-3">Docenten</label><br>
    <input type="text" id="docenten-vak-3" value="Joost Faber en Koop Reynders" required><br><br>

    <label for="week-vak-3">Week</label><br>
    <input type="radio" id="week-1-vak-3" name="week-vak-3" required> <label for="week-1-vak-3">1-5</label><br>
    <input type="radio" id="week-6-vak-3" name="week-vak-3" required checked> <label for="week-6-vak-3">6</label><br>
    <input type="radio" id="week-7-9-vak-3" name="week-vak-3" required> <label for="week-7-9-vak-3">7-9</label><br>
    <input type="radio" id="week-10-vak-3" name="week-vak-3" required> <label for="week-10-vak-3">10</label><br>
    <input type="radio" id="week-11-13-vak-3" name="week-vak-3" required> <label for="week-11-13-vak-3">11-13</label><br>
    <input type="radio" id="week-15-19-vak-3" name="week-vak-3" required> <label for="week-15-19-vak-3">15-19</label><br><br>
    
    <label for="lesstof-vak-3">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-1-vak-3">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-2-vak-3">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-3-vak-3">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-4-vak-3">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-5-vak-3">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-6-vak-3">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-7-vak-3">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-8-vak-3">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-9-vak-3">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-3" name="lesstof-vak-3" required>
            <label for="lesstof-10-vak-3">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-3">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-1-vak-3">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-2-vak-3">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-3-vak-3">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-4-vak-3">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-5-vak-3">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-6-vak-3">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-7-vak-3">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-8-vak-3">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-9-vak-3">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-3" name="uitleg-vak-3" required>
            <label for="uitleg-10-vak-3">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-3">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-1-vak-3">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-2-vak-3">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-3-vak-3">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-4-vak-3">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-5-vak-3">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-6-vak-3">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-7-vak-3">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-8-vak-3">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-9-vak-3">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-3" name="eigen-inzicht-vak-3" required>
            <label for="eigen-inzicht-10-vak-3">10</label><br><br>
        </div>
    </div>

    <h2>Vak 4</h2>

    <label for="naam-vak-4">Naam</label><br>
    <input type="text" id="naam-vak-4" value="Progressive Web Apps" required><br><br>

    <label for="docenten-vak-4">Docenten</label><br>
    <input type="text" id="docenten-vak-4" value="Declan Rek en Justus Sturkenboom" required><br><br>

    <label for="week-vak-4">Week</label><br>
    <input type="radio" id="week-1-vak-4" name="week-vak-4" required> <label for="week-1-vak-4">1-5</label><br>
    <input type="radio" id="week-6-vak-4" name="week-vak-4" required> <label for="week-6-vak-4">6</label><br>
    <input type="radio" id="week-7-9-vak-4" name="week-vak-4" required checked> <label for="week-7-9-vak-4">7-9</label><br>
    <input type="radio" id="week-10-vak-4" name="week-vak-4" required> <label for="week-10-vak-4">10</label><br>
    <input type="radio" id="week-11-13-vak-4" name="week-vak-4" required> <label for="week-11-13-vak-4">11-13</label><br>
    <input type="radio" id="week-15-19-vak-4" name="week-vak-4" required> <label for="week-15-19-vak-4">15-19</label><br><br>
    
    <label for="lesstof-vak-4">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-1-vak-4">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-2-vak-4">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-3-vak-4">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-4-vak-4">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-5-vak-4">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-6-vak-4">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-7-vak-4">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-8-vak-4">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-9-vak-4">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-4" name="lesstof-vak-4" required>
            <label for="lesstof-10-vak-4">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-4">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-1-vak-4">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-2-vak-4">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-3-vak-4">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-4-vak-4">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-5-vak-4">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-6-vak-4">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-7-vak-4">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-8-vak-4">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-9-vak-4">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-4" name="uitleg-vak-4" required>
            <label for="uitleg-10-vak-4">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-4">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-1-vak-4">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-2-vak-4">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-3-vak-4">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-4-vak-4">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-5-vak-4">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-6-vak-4">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-7-vak-4">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-8-vak-4">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-9-vak-4">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-4" name="eigen-inzicht-vak-4" required>
            <label for="eigen-inzicht-10-vak-4">10</label><br><br>
        </div>
    </div>

    <h2>Vak 5</h2>

    <label for="naam-vak-5">Naam</label><br>
    <input type="text" id="naam-vak-5" value="Browser Technologies" required><br><br>

    <label for="docenten-vak-5">Docenten</label><br>
    <input type="text" id="docenten-vak-5" value="Peter-Paul Koch en Robert Spier" required><br><br>

    <label for="week-vak-5">Week</label><br>
    <input type="radio" id="week-1-vak-5" name="week-vak-5" required> <label for="week-1-vak-5">1-5</label><br>
    <input type="radio" id="week-6-vak-5" name="week-vak-5" required> <label for="week-6-vak-5">6</label><br>
    <input type="radio" id="week-7-9-vak-5" name="week-vak-5" required checked> <label for="week-7-9-vak-5">7-9</label><br>
    <input type="radio" id="week-10-vak-5" name="week-vak-5" required> <label for="week-10-vak-5">10</label><br>
    <input type="radio" id="week-11-13-vak-5" name="week-vak-5" required> <label for="week-11-13-vak-5">11-13</label><br>
    <input type="radio" id="week-15-19-vak-5" name="week-vak-5" required> <label for="week-15-19-vak-5">15-19</label><br><br>
    
    <label for="lesstof-vak-5">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-1-vak-5">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-2-vak-5">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-3-vak-5">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-4-vak-5">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-5-vak-5">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-6-vak-5">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-7-vak-5">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-8-vak-5">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-9-vak-5">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-5" name="lesstof-vak-5" required>
            <label for="lesstof-10-vak-5">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-5">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-1-vak-5">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-2-vak-5">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-3-vak-5">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-4-vak-5">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-5-vak-5">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-6-vak-5">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-7-vak-5">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-8-vak-5">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-9-vak-5">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-5" name="uitleg-vak-5" required>
            <label for="uitleg-10-vak-5">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-5">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-1-vak-5">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-2-vak-5">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-3-vak-5">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-4-vak-5">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-5-vak-5">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-6-vak-5">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-7-vak-5">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-8-vak-5">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-9-vak-5">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-5" name="eigen-inzicht-vak-5" required>
            <label for="eigen-inzicht-10-vak-5">10</label><br><br>
        </div>
    </div>

    <h2>Vak 6</h2>

    <label for="naam-vak-6">Naam</label><br>
    <input type="text" id="naam-vak-6" value="Projectweek 2" required><br><br>

    <label for="docenten-vak-6">Docenten</label><br>
    <input type="text" id="docenten-vak-6" value="Joost Faber en Koop Reynders" required><br><br>

    <label for="week-vak-6">Week</label><br>
    <input type="radio" id="week-1-vak-6" name="week-vak-6" required> <label for="week-1-vak-6">1-5</label><br>
    <input type="radio" id="week-6-vak-6" name="week-vak-6" required> <label for="week-6-vak-6">6</label><br>
    <input type="radio" id="week-7-9-vak-6" name="week-vak-6" required> <label for="week-7-9-vak-6">7-9</label><br>
    <input type="radio" id="week-10-vak-6" name="week-vak-6" required checked> <label for="week-10-vak-6">10</label><br>
    <input type="radio" id="week-11-13-vak-6" name="week-vak-6" required> <label for="week-11-13-vak-6">11-13</label><br>
    <input type="radio" id="week-15-19-vak-6" name="week-vak-6" required> <label for="week-15-19-vak-6">15-19</label><br><br>
    
    <label for="lesstof-vak-6">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-1-vak-6">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-2-vak-6">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-3-vak-6">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-4-vak-6">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-5-vak-6">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-6-vak-6">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-7-vak-6">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-8-vak-6">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-9-vak-6">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-6" name="lesstof-vak-6" required>
            <label for="lesstof-10-vak-6">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-6">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-1-vak-6">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-2-vak-6">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-3-vak-6">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-4-vak-6">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-5-vak-6">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-6-vak-6">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-7-vak-6">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-8-vak-6">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-9-vak-6">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-6" name="uitleg-vak-6" required>
            <label for="uitleg-10-vak-6">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-6">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-1-vak-6">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-2-vak-6">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-3-vak-6">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-4-vak-6">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-5-vak-6">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-6-vak-6">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-7-vak-6">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-8-vak-6">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-9-vak-6">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-6" name="eigen-inzicht-vak-6" required>
            <label for="eigen-inzicht-10-vak-6">10</label><br><br>
        </div>
    </div>

    <h2>Vak 7</h2>

    <label for="naam-vak-7">Naam</label><br>
    <input type="text" id="naam-vak-7" value="Real-Time Web" required><br><br>

    <label for="docenten-vak-7">Docenten</label><br>
    <input type="text" id="docenten-vak-7" value="Justus Sturkenboom en Shyanta Vleugel" required><br><br>

    <label for="week-vak-7">Week</label><br>
    <input type="radio" id="week-1-vak-7" name="week-vak-7" required> <label for="week-1-vak-7">1-5</label><br>
    <input type="radio" id="week-6-vak-7" name="week-vak-7" required> <label for="week-6-vak-7">6</label><br>
    <input type="radio" id="week-7-9-vak-7" name="week-vak-7" required> <label for="week-7-9-vak-7">7-9</label><br>
    <input type="radio" id="week-10-vak-7" name="week-vak-7" required> <label for="week-10-vak-7">10</label><br>
    <input type="radio" id="week-11-13-vak-7" name="week-vak-7" required checked> <label for="week-11-13-vak-7">11-13</label><br>
    <input type="radio" id="week-15-19-vak-7" name="week-vak-7" required> <label for="week-15-19-vak-7">15-19</label><br><br>
    
    <label for="lesstof-vak-7">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-1-vak-7">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-2-vak-7">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-3-vak-7">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-4-vak-7">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-5-vak-7">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-6-vak-7">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-7-vak-7">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-8-vak-7">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-9-vak-7">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-7" name="lesstof-vak-7" required>
            <label for="lesstof-10-vak-7">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-7">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-1-vak-7">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-2-vak-7">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-3-vak-7">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-4-vak-7">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-5-vak-7">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-6-vak-7">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-7-vak-7">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-8-vak-7">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-9-vak-7">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-7" name="uitleg-vak-7" required>
            <label for="uitleg-10-vak-7">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-7">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-1-vak-7">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-2-vak-7">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-3-vak-7">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-4-vak-7">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-5-vak-7">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-6-vak-7">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-7-vak-7">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-8-vak-7">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-9-vak-7">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-7" name="eigen-inzicht-vak-7" required>
            <label for="eigen-inzicht-10-vak-7">10</label><br><br>
        </div>
    </div>

    <h2>Vak 8</h2>

    <label for="naam-vak-8">Naam</label><br>
    <input type="text" id="naam-vak-8" value="Human Centered Design" required><br><br>

    <label for="docenten-vak-8">Docenten</label><br>
    <input type="text" id="docenten-vak-8" value="" required><br><br>

    <label for="week-vak-8">Week</label><br>
    <input type="radio" id="week-1-vak-8" name="week-vak-8" required> <label for="week-1-vak-8">1-5</label><br>
    <input type="radio" id="week-6-vak-8" name="week-vak-8" required> <label for="week-6-vak-8">6</label><br>
    <input type="radio" id="week-7-9-vak-8" name="week-vak-8" required> <label for="week-7-9-vak-8">7-9</label><br>
    <input type="radio" id="week-10-vak-8" name="week-vak-8" required> <label for="week-10-vak-8">10</label><br>
    <input type="radio" id="week-11-13-vak-8" name="week-vak-8" required checked> <label for="week-11-13-vak-8">11-13</label><br>
    <input type="radio" id="week-15-19-vak-8" name="week-vak-8" required> <label for="week-15-19-vak-8">15-19</label><br><br>
    
    <label for="lesstof-vak-8">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-1-vak-8">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-2-vak-8">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-3-vak-8">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-4-vak-8">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-5-vak-8">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-6-vak-8">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-7-vak-8">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-8-vak-8">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-9-vak-8">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-8" name="lesstof-vak-8" required>
            <label for="lesstof-10-vak-8">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-8">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-1-vak-8">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-2-vak-8">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-3-vak-8">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-4-vak-8">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-5-vak-8">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-6-vak-8">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-7-vak-8">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-8-vak-8">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-9-vak-8">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-8" name="uitleg-vak-8" required>
            <label for="uitleg-10-vak-8">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-8">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-1-vak-8">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-2-vak-8">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-3-vak-8">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-4-vak-8">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-5-vak-8">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-6-vak-8">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-7-vak-8">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-8-vak-8">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-9-vak-8">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-8" name="eigen-inzicht-vak-8" required>
            <label for="eigen-inzicht-10-vak-8">10</label><br><br>
        </div>
    </div>

    <h2>Vak 9</h2>

    <label for="naam-vak-9">Naam</label><br>
    <input type="text" id="naam-vak-9" value="Meesterproef" required><br><br>

    <label for="docenten-vak-9">Docenten</label><br>
    <input type="text" id="docenten-vak-9" value="" required><br><br>

    <label for="week-vak-9">Week</label><br>
    <input type="radio" id="week-1-vak-9" name="week-vak-9" required> <label for="week-1-vak-9">1-5</label><br>
    <input type="radio" id="week-6-vak-9" name="week-vak-9" required> <label for="week-6-vak-9">6</label><br>
    <input type="radio" id="week-7-9-vak-9" name="week-vak-9" required> <label for="week-7-9-vak-9">7-9</label><br>
    <input type="radio" id="week-10-vak-9" name="week-vak-9" required> <label for="week-10-vak-9">10</label><br>
    <input type="radio" id="week-11-13-vak-9" name="week-vak-9" required> <label for="week-11-13-vak-9">11-13</label><br>
    <input type="radio" id="week-15-19-vak-9" name="week-vak-9" required checked> <label for="week-15-19-vak-9">15-19</label><br><br>
    
    <label for="lesstof-vak-9">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-1-vak-9">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-2-vak-9">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-3-vak-9">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-4-vak-9">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-5-vak-9">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-6-vak-9">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-7-vak-9">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-8-vak-9">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-9-vak-9">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-9" name="lesstof-vak-9" required>
            <label for="lesstof-10-vak-9">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-9">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-1-vak-9">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-2-vak-9">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-3-vak-9">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-4-vak-9">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-5-vak-9">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-6-vak-9">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-7-vak-9">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-8-vak-9">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-9-vak-9">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-9" name="uitleg-vak-9" required>
            <label for="uitleg-10-vak-9">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-9">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-1-vak-9">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-2-vak-9">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-3-vak-9">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-4-vak-9">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-5-vak-9">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-6-vak-9">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-7-vak-9">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-8-vak-9">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-9-vak-9">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-9" name="eigen-inzicht-vak-9" required>
            <label for="eigen-inzicht-10-vak-9">10</label><br><br>
        </div>
    </div>

    <h2>Vak 10</h2>

    <label for="naam-vak-10">Naam</label><br>
    <input type="text" id="naam-vak-10" value="Weekly Nerd" required><br><br>

    <label for="docenten-vak-10">Docenten</label><br>
    <input type="text" id="docenten-vak-10" value="" required><br><br>

    <label for="week-vak-10">Week</label><br>
    <input type="radio" id="week-1-vak-10" name="week-vak-10" required> <label for="week-1-vak-10">1-5</label><br>
    <input type="radio" id="week-6-vak-10" name="week-vak-10" required> <label for="week-6-vak-10">6</label><br>
    <input type="radio" id="week-7-9-vak-10" name="week-vak-10" required> <label for="week-7-9-vak-10">7-9</label><br>
    <input type="radio" id="week-10-vak-10" name="week-vak-10" required> <label for="week-10-vak-10">10</label><br>
    <input type="radio" id="week-11-13-vak-10" name="week-vak-10" required checked> <label for="week-11-13-vak-10">11-13</label><br>
    <input type="radio" id="week-15-19-vak-10" name="week-vak-10" required> <label for="week-15-19-vak-10">15-19</label><br><br>
    
    <label for="lesstof-vak-10">Moeilijkheid van lesstof</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="lesstof-1-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-1-vak-10">1</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-2-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-2-vak-10">2</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-3-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-3-vak-10">3</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-4-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-4-vak-10">4</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-5-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-5-vak-10">5</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-6-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-6-vak-10">6</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-7-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-7-vak-10">7</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-8-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-8-vak-10">8</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-9-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-9-vak-10">9</label><br>
        </div>
        <div>
            <input type="radio" id="lesstof-10-vak-10" name="lesstof-vak-10" required>
            <label for="lesstof-10-vak-10">10</label><br><br>
        </div>
    </div>

    <label for="uitleg-vak-10">Duidelijkheid van uitleg</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="uitleg-1-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-1-vak-10">1</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-2-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-2-vak-10">2</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-3-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-3-vak-10">3</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-4-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-4-vak-10">4</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-5-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-5-vak-10">5</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-6-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-6-vak-10">6</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-7-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-7-vak-10">7</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-8-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-8-vak-10">8</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-9-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-9-vak-10">9</label><br>
        </div>
        <div>
            <input type="radio" id="uitleg-10-vak-10" name="uitleg-vak-10" required>
            <label for="uitleg-10-vak-10">10</label><br><br>
        </div>
    </div>

    <label for="eigen-inzicht-vak-10">Mate van eigen inzicht</label><br>
    <div class="display-flex">
        <div>
            <input type="radio" id="eigen-inzicht-1-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-1-vak-10">1</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-2-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-2-vak-10">2</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-3-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-3-vak-10">3</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-4-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-4-vak-10">4</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-5-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-5-vak-10">5</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-6-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-6-vak-10">6</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-7-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-7-vak-10">7</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-8-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-8-vak-10">8</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-9-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-9-vak-10">9</label><br>
        </div>
        <div>
            <input type="radio" id="eigen-inzicht-10-vak-10" name="eigen-inzicht-vak-10" required>
            <label for="eigen-inzicht-10-vak-10">10</label><br><br>
        </div>
    </div>

    <input type="submit" value="Submit">
    <input type="reset">
</form>