* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: #25167a;
    font-family: system-ui;
}

#form {
    background: #fafafa;
    width: 90%;
    border-radius: 5px;
    margin: 25px auto;
    padding: 2.5px 25px 25px 25px;
}

#sent {
    background: #cde4cd;
    padding: 10px 10px 10px 25px;
    font-weight: bold;
    border-radius: 5px;
}

form div {
    position: relative;
    top: -16px;
    left: 50%;
    margin-bottom: -16px;
}

input[type="text"], input[type="number"] {
    float: right;
    width: 50%;
}

input[type="number"].red {
    outline-style: solid;
    outline-color: red;
}

button[type="submit"] {
    color: white;
    font-weight: bold;
    background: grey;
    transition: background .3s ease;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

button[type="submit"]:hover {
    background: #6b6b6b;
    transition: background .3s ease;
}

button[type="submit"]:nth-child(1) {
    background: red;
    transition: background .3s ease;
    margin-top: 10px;
}

button[type="submit"]:nth-child(1):hover {
    background: #d50000;
    transition: background .3s ease;
}

/* Laptop */
@media only screen and (min-width: 1024px) {
    #form {
        width: 70%;
    }
}

/* Laptop L */
@media only screen and (min-width: 1440px) {
    #form {
        width: 50%;
    }
}